.wrapper > ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-base-up-1);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrapper > ul > li {
  display: inline;
  margin-right: var(--space-md);
}

.wrapper > ul > li:last-child {
  margin-right: none;
}

.wrapper > ul > li > strong {
  font-weight: var(--font-weight-bold);
}
