.wrapper {
  margin: 0;
}

* + .wrapper.marginWhenAdjacent {
  margin-top: 1.75em;
}

.centered {
  text-align: center;
}

.sm {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h4);
}

.md {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h3);
}

.lg {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
}

.xl {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
}
